@model MeetingManagerMvc.Models.ThankYouModel

@{
    ViewData["Title"] = "Home Page";
}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Check out our offers</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
        </div>

        <div class="row mb_30">
            <h4>Thank you for your order !</h4><span>#@Model.Order.Id</span>
            <hr />
            <br />
            <p>lorem ipsum</p>
        </div>
    </div>
</section>
