@model MeetingManager.Models.Offer

@{
    ViewData["Title"] = Model != null ? Model.Title + " | Offer Details" : "Offer Details";
}

@{
    string userId = "";

    @foreach (var claim in User.Claims)
    {
        @if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")
        {
            userId = claim.Value;
        }
    }
}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Hotel Accomodation</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </p>
        </div>

        @{if (Model != null)
            {
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="~/image/offer_placeholder.jpg" alt="img">
                    </div>
                    <div class="col-md-6 d_flex align-items-center">
                                <div class="about_content ">
                                    <h2 class="title title_color">@Model.Title</h2>
                                    <p>@Model.Description</p>
                                    <p>$@Html.DisplayFor(item => item.Price)/day</p>
                                    @if (userId == Model.UserId.ToString())
                                    {
                                        <a class="button_hover theme_btn_two" asp-controller="DashBoardClient" asp-action="Index" asp-route-id="@Model.UserId">Edit your offerts!</a>
                                    }
                                    else
                                    {
                                        <a class="button_hover theme_btn_two" asp-controller="CartClient" asp-action="Confirm" asp-route-id="@Model.Id">Add to cart</a>
                                    }
                                </div>
                    </div>
                </div>
            }
        }
    </div>
</section>