@model IEnumerable<MeetingManager.Models.Offer>

@{
    ViewData["Title"] = "Offers";
}

<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color"></h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast. </p>
        </div>

        <div class="row mb_30">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {

                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="image/offer_placeholder.jpg" alt="">
                                <a href="#" class="btn theme_btn button_hover">Buy Now</a>
                            </div>
                            <a href="/OfferClient/Details/@item.Id"><h4 class="sec_h4"> @Html.DisplayFor(modelItem => item.Title)</h4></a>
                            <h5>$ @Html.DisplayFor(modelItem => item.Price)$</h5>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>