@model MeetingManagerMvc.Models.UserRegistryModel

@{
    ViewData["Title"] = "Delete user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string userId = "";
}

@if (User.Identity.IsAuthenticated)
{

    @foreach (var claim in User.Claims)
    {
        @if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")
        {
            userId = claim.Value;
        }
    }
}


<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12" style="text-align:center;">
                <h2 class="title_color">Are you sure you want delete your account?</h2>
                <p>Please confirm this action by inserting your password!</p>
            </div>
        </div>
        <div class="row confirm-add-to-cart-row">
            <div class="col-sm-8">
                <div class="user-delete-container">
                    <div class="user-delete-image">
                        <img src="~/image/security.svg" alt="security" />
                    </div>
                    <div class="user-delete-text">
                        <h3>Username: @Html.DisplayFor(model => model.UserName)</h3>
                        <form asp-action="Delete">
                            <div style="color: red;">@ViewBag.Message</div>
                            <div class="form-group">
                                <label class="control-label">To confirm input password</label>
                                <input asp-for="RepeatPassword" class="form-control" type="password" />
                                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                            </div>
                            <input asp-for="Password" type="hidden" />
                            <input type="hidden" asp-for="@userId" />
                            <input type="hidden" asp-for="UserName" />
                            <input type="hidden" asp-for="EmailAddress" />
                            <div class="form-group">
                                <input type="submit" value="Delete" class="btn custom-danger danger-hover" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align:center;margin-top:50px;">
            <a asp-controller="UserDetailClient" asp-action="Index">Back to user profile.</a>
        </p>
    </div>
</section>
