@model MeetingManagerMvc.Models.UserRegistryModel

@{
    ViewData["Title"] = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12">
                <h2 class="title_color">User registration</h2>
            </div>
            <div class="col-lg-6 col-sm-10">
                <form asp-action="RegistryUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <span class="text-danger">
                            @ViewBag.Message
                        </span>
                    }
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RepeatPassword" class="control-label"></label>
                        <input asp-for="RepeatPassword" class="form-control" type="password" />
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn theme_btn button_hover">Register</button>
                    </div>
                    <p>Already have account? <a href="LoginUser">Login now!</a></p>
                </form>
            </div>
            <div class="col-sm-12">
                <a asp-controller="Home" asp-action="Index">Back to Home page</a>
            </div>
        </div>
    </div>
</section>

