@model MeetingManager.Models.Offer;

@{
    ViewData["Title"] = "Delete Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact_area section_gap">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-column">
            <div class="col-sm-12">
                <h2 class="title_color">Delete offer</h2>
                <p>Are you sure to delete offer @Html.DisplayFor(model => model.Title) with id: @Html.DisplayFor(model => model.Id)?</p>
            </div>
            <div class="col-lg-6 col-sm-10">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <span class="text-danger">
                            @ViewBag.Message
                        </span>
                    }
                    <div class="form-group">
                        <button type="submit" value="submit" class="btn theme_btn button_hover">Confirm <i class="fas fa-sign-in-alt"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-sm-12">
                <a class="link" asp-controller="DashboardClient" asp-action="Index">Back to dachboard</a>
            </div>
        </div>

    </div>
</section>

